.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* wyśrodkowanie na pełnej wysokości ekranu */
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #e0e0e0;
  border-top-color: #007bff; /* niebieski pasek */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
